@import 'layouts/header';
@import 'layouts/global';
@import 'layouts/footer';

body {
  .wrapper {
    color: $black;
    .top-block {
      height: 516px;
      background: url('../img/top_img1.jpg') 50% 0 fixed;
      .inner {
        display: flex;
        align-items: flex-end;
        height: 100%;
        h1 {
          font: 700 82px $font;
          color: $white;
          margin-bottom: 40px;
        }
      }
    }
    .inner {
      max-width: 1260px;
      section {
        margin-top: 140px;
        &:first-child {
          margin-top: 70px;
        }
        .title {
          margin-bottom: 30px;
          h2 {
            font: 700 48px/1.2 $font;
          }
        }
        .text {
          font: 400 22px/1.5 $font;
          margin-bottom: 50px;
        }
        .tabs {
          .tabs-headings {
            position: relative;
            &::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: -7px;
              left: 0;
              background: #cdcdcd;
            }
            .tabs-hedings-title {
              position: relative;
              font: 400 16px/22px $font;
              color: $grey;
              margin-right: 30px;
              padding-bottom: 7px;
              cursor: pointer;
              &:last-child {
                margin-right: 0;
              }
              &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background: transparent;
                transition: 0.3s;
              }
            }
            .tabs-hedings-title.active {
              &::before {
                background: $black;
              }
            }
          }
          .tab-content {
            padding-top: 40px;
          }
        }
      }
      .section {
        &-1,
        &-2,
        &-7 {
          .img-block {
            display: flex;
            justify-content: space-between;
            .item {
              &:first-child {
                width: 59%;
              }
              &:last-child {
                display: flex;
                width: 39%;
                flex-direction: column;
                justify-content: space-between;
              }
            }
          }
        }
        &-2 {
          .img-block {
            .item {
              &:first-child {
                width: calc((100% - 20px) / 2);
              }
              &:last-child {
                width: calc((100% - 20px) / 2);
              }
            }
          }
        }
        &-3,
        &-4 {
          .img-block {
            margin-bottom: 45px;
          }
          a {
            display: inline-block;
            color: #0971ff;
            transition: 0.3s;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &-4,
        &-6 {
          .img-block {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .item {
              width: calc((100% - 20px) / 2);
              &:first-child {
                width: 100%;
                margin-bottom: 20px;
              }
              p {
                font-size: 1rem;
                color: $black;
                margin-top: 5px;
              }
            }
          }
        }
        &-5 {
          .img-block {
            .green {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              margin-top: 25px;
              .green-item {
                margin-right: 30px;
                p {
                  width: 120px;
                  font-size: calc(0.7vw + 0.5rem);
                  color: $black;
                  text-align: center;
                  margin: 15px auto 0 auto;
                }
                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
        &-7 {
          .img-block {
            margin-bottom: 45px;
          }
        }
      }
    }
  }
}
