@import 'layouts/header';
@import 'layouts/global';
@import 'layouts/footer';

body {
  .wrapper {
    color: $black;
    main {
      padding-bottom: 70px;
    }
    .top-block {
      height: 516px;
      background: url('../img/top_img1.jpg') 50% 0 fixed;
      .inner {
        display: flex;
        align-items: flex-end;
        height: 100%;
        h1 {
          font: 700 82px $font;
          color: $white;
          margin-bottom: 40px;
        }
      }
    }
    .inner {
      max-width: 1260px;
      section {
        margin-top: 140px;
        &:first-child {
          margin-top: 70px;
        }
        .title {
          margin-bottom: 30px;
          h2 {
            font: 700 48px/1.2 $font;
          }
        }
        .text {
          font: 400 22px/1.5 $font;
          margin-bottom: 50px;
        }
        .tab {
          &-heading {
            position: relative;
            &::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: -7px;
              left: 0;
              background: #cdcdcd;
            }
            &-title {
              position: relative;
              font: 400 16px/22px $font;
              color: $grey;
              margin-right: 30px;
              padding-bottom: 7px;
              cursor: pointer;
              &:last-child {
                margin-right: 0;
              }
              &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background: transparent;
                transition: 0.3s;
              }
            }
            &-title.active {
              color: $black;
              &::before {
                background: $black;
              }
            }
          }
          &-content {
            padding-top: 40px;
          }
        }
      }
      .section {
        &-1,
        &-2,
        &-7,
        &-10 {
          .img-block {
            display: flex;
            justify-content: space-between;
            .item {
              &:first-child {
                width: 59%;
              }
              &:last-child {
                display: flex;
                width: 39%;
                flex-direction: column;
                justify-content: space-between;
              }
            }
          }
        }
        &-2 {
          .img-block {
            .item {
              &:first-child {
                width: calc((100% - 20px) / 2);
              }
              &:last-child {
                width: calc((100% - 20px) / 2);
              }
            }
          }
        }
        &-3,
        &-4 {
          .img-block {
            margin-bottom: 45px;
          }
          a {
            display: inline-block;
            color: #0971ff;
            transition: 0.3s;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &-4,
        &-6,
        &-9 {
          .img-block {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .item {
              width: calc((100% - 20px) / 2);
              &:first-child {
                width: 100%;
                margin-bottom: 20px;
              }
              p {
                font-size: 1rem;
                color: $black;
                margin-top: 5px;
              }
            }
          }
        }
        &-5 {
          .img-block {
            .green {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              margin-top: 25px;
              .green-item {
                margin-right: 30px;
                p {
                  width: 120px;
                  font-size: calc(0.7vw + 0.5rem);
                  color: $black;
                  text-align: center;
                  margin: 15px auto 0 auto;
                }
                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
        &-7 {
          .img-block {
            margin-bottom: 45px;
          }
        }
        &-11 {
          .img-block {
            display: flex;
            justify-content: space-between;
            margin-bottom: 45px;
            .item {
              width: calc((100% - 40px) / 3);
            }
          }
        }
        &-12 {
          margin-top: 170px;
          .title {
            margin-bottom: 25px;
            h2 {
              font-size: calc(1.9vw + 2rem);
            }
          }
          .mi-slider {
            margin-top: 80px;
            .swiper-wrapper {
              .swiper-slide {
                position: relative;
                width: 400px;
                height: 455px;
                margin-right: 30px;
                border-radius: 5px;
              }
              .i-inf {
                position: absolute;
              }
              .i {
                &-title {
                  font: 700 24px/34px $font;
                  color: $black;
                  margin-bottom: 20px;
                }
                &-desc {
                  font: 400 17px/23px $font;
                  color: $black;
                }
                &-detailed {
                  margin-top: 15px;
                  span {
                    position: relative;
                    color: #0971ff;
                    padding-right: 10px;
                    transition: 0.3s;
                    &::before {
                      content: '';
                      position: absolute;
                      top: 45%;
                      right: 0;
                      width: 4px;
                      height: 7px;
                      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.087' height='7.066'%3E%3Cpath d='M3.926 3.203L.712.002C.193-.025-.034.216.004.709L2.825 3.53.005 6.353c-.039.493.188.734.707.711l3.214-3.215c.215-.229.215-.406 0-.646z' fill='%232288f7'/%3E%3C/svg%3E") no-repeat;
                      background-size: contain;
                    }
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
              .i1 {
                background: url('../img/more_interesting_img1.jpg') no-repeat;
                background-size: cover;
                .i-inf {
                  left: 40px;
                  top: 75px;
                }
              }
              .i2 {
                background: url('../img/more_interesting_img2.jpg') no-repeat;
                background-size: cover;
                .i-inf {
                  top: 220px;
                  left: 220px;
                }
              }
              .i3 {
                background: url('../img/more_interesting_img3.jpg') no-repeat;
                background-size: cover;
                .i-inf {
                  top: 40px;
                  left: 55px;
                }
              }
              .i4 {
                background: url('../img/more_interesting_img4.jpg') no-repeat;
                background-size: cover;
                .i-inf {
                  top: 20px;
                  left: 40px;
                }
                &::after {
                  content: '';
                  position: absolute;
                  width: 64px;
                  height: 64px;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 58 58' width='512' height='512'%3E%3Ccircle cx='29' cy='29' r='29' data-original='%23EBBA16' class='active-path' data-old_color='%23EBBA16' fill='%23ff5e01'/%3E%3Cpath data-original='%23FFFFFF' data-old_color='%23FFFFFF' fill='%23fff' d='M44 29L22 44V14z'/%3E%3Cpath d='M22 45a.999.999 0 01-1-1V14a.999.999 0 011.564-.826l22 15a1.001 1.001 0 01-.001 1.652l-22 15A1.002 1.002 0 0122 45zm1-29.107v26.215L42.225 29 23 15.893z' data-original='%23FFFFFF' data-old_color='%23FFFFFF' fill='%23fff'/%3E%3C/svg%3E") no-repeat;
                  background-size: contain;
                  transition: 0.3s;
                }
                &:hover {
                  &::after {
                    content: '';
                    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 58 58' width='512' height='512'%3E%3Ccircle cx='29' cy='29' r='29' data-original='%23EBBA16' class='active-path' data-old_color='%23EBBA16' fill='%23fff'/%3E%3Cpath data-original='%23FFFFFF' data-old_color='%23FFFFFF' fill='%23f75b00' d='M44 29L22 44V14z'/%3E%3Cpath d='M22 45a.999.999 0 01-1-1V14a.999.999 0 011.564-.826l22 15a1.001 1.001 0 01-.001 1.652l-22 15A1.002 1.002 0 0122 45zm1-29.107v26.215L42.225 29 23 15.893z' data-original='%23FFFFFF' data-old_color='%23FFFFFF' fill='%23f75b00'/%3E%3C/svg%3E");
                    background-size: contain;
                  }
                }
              }
              .i5 {
                background: url('../img/more_interesting_img5.jpg') no-repeat;
                background-size: cover;
                .i-inf {
                  top: 75px;
                  left: 50px;
                }
              }
              .i6 {
                background: url('../img/more_interesting_img6.jpg') no-repeat;
                background-size: cover;
                .i-inf {
                  top: 245px;
                  left: 90px;
                }
              }
            }
          }
        }
      }
      .settle {
        text-align: center;
        margin-top: 80px;
        a {
          display: inline-block;
          font: 700 24px/60px $font;
          color: $white;
          margin-top: 30px;
          padding: 0 60px 6px;
          background: #fe632d;
          border: 2px solid #fe632d;
          border-radius: 10px;
          transition: 0.3s;
          &:hover {
            color: #fe632d;
            background: transparent;
          }
        }
      }
    }
  }
}
body.over {
  overflow: hidden;
}
