@import 'layouts/header';
@import 'layouts/global';
@import 'layouts/footer';

html {
  overflow-x: hidden;
}
html.over {
  overflow-y: hidden;
}
body {
  overflow-x: hidden;
  .wrapper {
    color: $black;
    main {
      padding-bottom: 70px;
    }
    .top-block {
      height: 516px;
      background: url('../img/top_img1.jpg') 50% 0 fixed;
      @include media-custom {
        background: url('../img/top_img1_mob.jpg') 50% 0 no-repeat;
        background-size: cover;
      }
      .inner {
        display: flex;
        align-items: flex-end;
        height: 100%;
        h1 {
          font: 700 82px $font;
          color: $white;
          margin-bottom: 40px;
          @include media-laptop {
            font-size: calc(3.1vw + 2.5rem);
          }
          @include media-custom {
            font: 700 51px/66px $font;
            margin-bottom: 10px;
          }
        }
      }
    }
    .inner {
      max-width: 1260px;
      @include media-laptop {
        max-width: 1024px;
      }
      @include media-tablet-horizontal {
        max-width: 768px;
      }
      @include media-tablet {
        max-width: 90%;
      }
      .tablet {
        display: none;
        @include media-tablet {
          display: block;
        }
      }
      .scroll-map-tab {
        overflow-x: scroll;
        .scroll-map {
          position: relative;
          display: inline-block;
          img {
            width: auto;
            height: 540px;
            max-width: none;
          }
        }
      }
      .swiper-container {
        width: 100%;
        height: auto;
        padding-bottom: 40px;
        .swiper-pagination {
          display: none;
          @include media-laptop {
            display: block;
          }
          .swiper-pagination-bullet {
            cursor: pointer;
          }
          .swiper-pagination-bullet-active {
            background: $black;
          }
        }
      }
      section {
        margin-top: 140px;
        @include media-tablet {
          margin-top: 70px;
        }
        @include media-custom {
          margin-top: 60px;
        }
        &:first-child {
          margin-top: 70px;
          @include media-custom {
            margin-top: 40px;
          }
        }
        .title {
          margin-bottom: 30px;
          @include media-custom {
            margin-bottom: 20px;
          }
          h2 {
            font: 700 48px/1.2 $font;
            @include media-tablet {
              font-size: 26px;
            }
          }
        }
        .text {
          font: 400 22px/1.5 $font;
          margin-bottom: 50px;
          @include media-laptop {
            font-size: calc(0.4vw + 1rem);
          }
          @include media-custom {
            font-size: 19px;
            margin-bottom: 30px;
          }
        }
        .tab {
          &-heading {
            position: relative;
            @include media-tablet {
              display: flex;
              white-space: nowrap;
              overflow-y: scroll;
            }
            &::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: -7px;
              left: 0;
              background: #cdcdcd;
              @include media-tablet {
                bottom: 0;
              }
            }
            &-title {
              position: relative;
              font: 400 16px/22px $font;
              color: $grey;
              padding-right: 30px;
              padding-bottom: 7px;
              cursor: pointer;
              @include media-tablet {
                padding-bottom: 17px;
              }
              &:last-child {
                padding-right: 0;
                &::after {
                  width: 100%;
                }
              }
              &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background: #cdcdcd;
                transition: 0.3s;
              }
              &::after {
                content: '';
                position: absolute;
                height: 1px;
                bottom: 0;
                left: 0;
                background: transparent;
                width: calc(100% - 30px);
                transition: 0.3s;
              }
            }
            &-title.active {
              color: $black;
              &::after {
                background: $black;
              }
            }
          }
          &-content {
            padding-top: 40px;
            overflow: hidden;
            &-item {
              .img {
                @include media-tablet {
                  display: none;
                }
              }
            }
          }
        }
        .img-block {
          display: flex;
          @include media-tablet {
            display: none;
          }
        }
        .img-block-mb {
          display: none;
          margin-bottom: 45px;
          @include media-tablet {
            display: block;
          }
        }
        .green-mb1 {
          max-width: 200px;
        }
        .green-mb2 {
          width: 100%;
          height: auto;
          max-width: 345px;
        }
        .slide-green {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          .green-item {
            margin-right: 30px;
            p {
              width: 120px;
              color: $black;
              text-align: center;
              margin: 15px auto 0 auto;
            }
            &:last-child {
              margin-right: 0;
            }
          }
          span,
          p {
            width: 100%;
            text-align: center;
            margin-top: 10px;
          }
        }
        .slide-green.two {
          flex-wrap: nowrap;
        }
      }
      .section {
        &-1,
        &-2,
        &-7,
        &-10 {
          .img-block {
            justify-content: space-between;
            .item {
              &:first-child {
                width: 59%;
              }
              &:last-child {
                display: flex;
                width: 39%;
                flex-direction: column;
                justify-content: space-between;
              }
            }
          }
        }
        &-2 {
          .img-block {
            .item {
              &:first-child {
                width: calc((100% - 20px) / 2);
              }
              &:last-child {
                width: calc((100% - 20px) / 2);
              }
            }
          }
        }
        &-3,
        &-4 {
          .img-block {
            display: flex;
            margin-bottom: 45px;
          }
          .img-block.none {
            @include media-tablet {
              display: none;
            }
          }
          a {
            display: inline-block;
            color: #0971ff;
            transition: 0.3s;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &-3 {
          .img-block {
            @include media-tablet {
              display: none;
            }
          }
        }
        &-4,
        &-6,
        &-9 {
          .img-block {
            justify-content: space-between;
            flex-wrap: wrap;
            .item {
              width: calc((100% - 20px) / 2);
              &:first-child {
                width: 100%;
                margin-bottom: 20px;
              }
              p {
                font-size: 1rem;
                color: $black;
                margin-top: 5px;
              }
            }
          }
        }
        &-5 {
          .img-block {
            position: relative;
            display: block;
            .info {
              position: absolute;
            }
            .green1_1 {
              top: 8%;
              right: 23%;
            }
            .green1_2 {
              top: 25%;
              right: 33%;
            }
            .green1_3 {
              top: 46%;
              right: 22%;
            }
            .green1_4 {
              top: 67%;
              right: 25%;
            }
            .green1_5 {
              top: 79%;
              right: 28%;
            }
            @include media-tablet {
              display: none;
            }
            .green {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              margin-top: 25px;
              .green-item {
                margin-right: 30px;
                @include media-tablet-horizontal {
                  margin-right: 0;
                }
                p {
                  width: 120px;
                  font-size: calc(0.7vw + 0.5rem);
                  color: $black;
                  text-align: center;
                  margin: 15px auto 0 auto;
                }
                &:last-child {
                  margin-right: 0;
                }
                img {
                  @include media-tablet-horizontal {
                    max-width: 90%;
                    margin: 0 auto;
                  }
                }
              }
            }
          }
        }
        &-7 {
          .img-block {
            margin-bottom: 45px;
          }
        }
        &-11 {
          .img-block {
            justify-content: space-between;
            margin-bottom: 45px;
            .item {
              width: calc((100% - 40px) / 3);
            }
          }
        }
        &-12 {
          margin-top: 170px;
          @include media-tablet {
            margin-top: 70px;
          }
          .title {
            margin-bottom: 25px;
            h2 {
              font-size: calc(1.9vw + 2rem);
              @include media-custom {
                font-size: 36px;
                text-align: center;
              }
            }
          }
          .mi-slider {
            position: relative;
            width: 100vw;
            height: 100%;
            margin-top: 80px;
            overflow: visible;
            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: -400px;
              width: 400px;
              height: 100%;
              background: linear-gradient(to right, #fff, 75%, rgba(255, 255, 255, 0));
              z-index: 10;
              @include media-tablet {
                display: none;
              }
            }
            .swiper-button-next {
              width: 43px;
              height: 98px;
              margin-top: 0;
              left: -100px;
              transform: translateY(-50%);
              background: url('../img/icon_arrow_left.png');
              cursor: pointer;
              z-index: 10;
              pointer-events: visible;
              opacity: 1;
              @include media-tablet {
                display: none;
              }
              &::after {
                display: none;
              }
            }
            .swiper-wrapper {
              .swiper-slide {
                position: relative;
                width: 400px;
                height: 455px;
                margin-right: 30px;
                border-radius: 5px;
                @include media-custom {
                  width: 275px;
                  height: 340px;
                }
              }
              .swiper-slide.swiper-slide-prev {
                opacity: 0;
                transition: opacity 0.3s;
              }
              .i-inf {
                position: absolute;
              }
              .i {
                &-title {
                  font: 700 24px/34px $font;
                  color: $black;
                  margin-bottom: 20px;
                }
                &-desc {
                  font: 400 17px/23px $font;
                  color: $black;
                }
                &-detailed {
                  margin-top: 15px;
                  @include media-custom {
                    display: none;
                  }
                  span {
                    position: relative;
                    color: #0971ff;
                    padding-right: 10px;
                    transition: 0.3s;
                    &::before {
                      content: '';
                      position: absolute;
                      top: 45%;
                      right: 0;
                      width: 4px;
                      height: 7px;
                      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.087' height='7.066'%3E%3Cpath d='M3.926 3.203L.712.002C.193-.025-.034.216.004.709L2.825 3.53.005 6.353c-.039.493.188.734.707.711l3.214-3.215c.215-.229.215-.406 0-.646z' fill='%232288f7'/%3E%3C/svg%3E") no-repeat;
                      background-size: contain;
                    }
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
              .i1 {
                background: url('../img/more_interesting_img1.jpg') no-repeat;
                background-size: cover;
                .i-inf {
                  left: 40px;
                  top: 75px;
                  @include media-custom {
                    top: 20px;
                  }
                }
              }
              .i2 {
                background: url('../img/more_interesting_img2.jpg') no-repeat;
                background-size: cover;
                .i-inf {
                  top: 220px;
                  left: 220px;
                  @include media-custom {
                    top: 20px;
                    left: 120px;
                  }
                }
              }
              .i3 {
                background: url('../img/more_interesting_img3.jpg') no-repeat;
                background-size: cover;
                .i-inf {
                  top: 40px;
                  left: 55px;
                }
              }
              .i4 {
                background: url('../img/more_interesting_img4.jpg') no-repeat;
                background-size: cover;
                .i-inf {
                  top: 20px;
                  left: 40px;
                }
                &::after {
                  content: '';
                  position: absolute;
                  width: 64px;
                  height: 64px;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 58 58' width='512' height='512'%3E%3Ccircle cx='29' cy='29' r='29' data-original='%23EBBA16' class='active-path' data-old_color='%23EBBA16' fill='%23ff5e01'/%3E%3Cpath data-original='%23FFFFFF' data-old_color='%23FFFFFF' fill='%23fff' d='M44 29L22 44V14z'/%3E%3Cpath d='M22 45a.999.999 0 01-1-1V14a.999.999 0 011.564-.826l22 15a1.001 1.001 0 01-.001 1.652l-22 15A1.002 1.002 0 0122 45zm1-29.107v26.215L42.225 29 23 15.893z' data-original='%23FFFFFF' data-old_color='%23FFFFFF' fill='%23fff'/%3E%3C/svg%3E") no-repeat;
                  background-size: contain;
                  transition: 0.3s;
                }
                &:hover {
                  &::after {
                    content: '';
                    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 58 58' width='512' height='512'%3E%3Ccircle cx='29' cy='29' r='29' data-original='%23EBBA16' class='active-path' data-old_color='%23EBBA16' fill='%23fff'/%3E%3Cpath data-original='%23FFFFFF' data-old_color='%23FFFFFF' fill='%23f75b00' d='M44 29L22 44V14z'/%3E%3Cpath d='M22 45a.999.999 0 01-1-1V14a.999.999 0 011.564-.826l22 15a1.001 1.001 0 01-.001 1.652l-22 15A1.002 1.002 0 0122 45zm1-29.107v26.215L42.225 29 23 15.893z' data-original='%23FFFFFF' data-old_color='%23FFFFFF' fill='%23f75b00'/%3E%3C/svg%3E");
                    background-size: contain;
                  }
                }
              }
              .i5 {
                background: url('../img/more_interesting_img5.jpg') no-repeat;
                background-size: cover;
                .i-inf {
                  top: 75px;
                  left: 50px;
                }
              }
              .i6 {
                background: url('../img/more_interesting_img6.jpg') no-repeat;
                background-size: cover;
                .i-inf {
                  top: 200px;
                  left: 30px;
                  @include media-custom {
                    top: 160px;
                  }
                }
              }
            }
          }
        }
        &-8 {
          .tab-content-item {
            .dot {
              &-item {
                position: absolute;
                display: inline-block;
                &-circle {
                  position: absolute;
                  left: 7px;
                  top: 50%;
                  width: 18px;
                  height: 18px;
                  transform: translateY(-50%);
                  background: #c73c25;
                  border: 2px solid #dcdadb;
                  border-radius: 50%;
                  transition: 0.3s;
                  cursor: pointer;
                  &:hover {
                    z-index: 10;
                  }
                  &:hover ~ .dot-item-name {
                    position: relative;
                    opacity: 1;
                    visibility: visible;
                    z-index: 1;
                  }
                }
                &-name {
                  font: 18px/1.5 $font;
                  background: #f7f7f7;
                  padding: 0 15px 5px 30px;
                  border-radius: 16px;
                  opacity: 0;
                  visibility: hidden;
                  transition: 0.3s;
                }
              }
              .i1 {
                top: 33%;
                left: 6%;
              }
              .i2 {
                bottom: 27%;
                left: 10%;
              }
              .i3 {
                bottom: 39%;
                left: 15%;
              }
              .i4 {
                top: 38%;
                left: 17%;
              }
              .i5 {
                bottom: 47%;
                left: 22%;
              }
              .i6 {
                bottom: 45%;
                left: 26%;
              }
              .i7 {
                top: 32%;
                left: 36%;
              }
              .i8 {
                bottom: 47%;
                left: 36%;
              }
              .i9 {
                bottom: 41%;
                left: 36%;
              }
              .i10 {
                top: 40%;
                left: 40%;
              }
              .i11 {
                top: 31%;
                left: 44%;
              }
              .i12 {
                bottom: 27%;
                left: 48%;
              }
              .i13 {
                right: 29%;
                bottom: 39%;
              }
              .i14 {
                top: 31%;
                right: 34%;
              }
              .i15 {
                right: 32%;
                bottom: 43%;
              }
              .i16 {
                top: 35%;
                right: 27%;
              }
              .i17 {
                top: 42%;
                right: 19%;
              }
              .i18 {
                right: 17%;
                bottom: 43%;
              }
              .i19 {
                right: 8%;
                bottom: 45%;
              }
              .i20 {
                right: 6%;
                bottom: 28%;
              }
            }
          }
        }
      }
      .settle {
        text-align: center;
        margin-top: 80px;
        a {
          display: inline-block;
          font: 700 24px/60px $font;
          color: $white;
          margin-top: 30px;
          padding: 0 60px 6px;
          background: #fe632d;
          border: 2px solid #fe632d;
          border-radius: 10px;
          transition: 0.3s;
          @include media-tablet {
            font: 700 18px/40px $font;
            padding: 0 40px 6px;
          }
          @include media-custom {
            padding: 0 25px 6px;
          }
          &:hover {
            color: #fe632d;
            background: transparent;
          }
        }
      }
    }
  }
}
body.over {
  overflow: hidden;
}
