extends layouts/layout

block variables
  -var pageTitle ='Главная'

  -
    var green =[
      {img: 'img/green-1.jpg', text: 'лилейники'},
      {img: 'img/green-2.jpg', text: 'шалфеи'},
      {img: 'img/green-3.jpg', text: 'кровохлебки'},
      {img: 'img/green-4.jpg', text: 'крокусы'},
      {img: 'img/green-5.jpg', text: 'луки декоративные'},
      {img: 'img/green-6.jpg', text: 'вербены'}
    ]

block content
  main
    .top-block
      .inner
        h1 парк и дворы
    .inner
      section.section-1
        .title
          h2 паpк
        .text 
          | в центре кварталов парк площадью 5 гектаров. а в парке — продуманное освещение, комфортная уличная мебель,
          br 
          | дорожки для велосипедистов и бегунов, поляны для игр, кафе, извилистые тропинки и, конечно, фонтан.
          br 
          | раньше здесь проходила железная дорога. мы сохранили рельсы и посадили между ними цветы и деревья.
        .img-block
          .item
            img(src="img/park_img1.jpg", alt="паpк")
          .item
            img(src="img/park_img2.jpg", alt="паpк")
            img(src="img/park_img3.jpg", alt="паpк")
        .swiper-container.tablet
          .swiper-pagination
          .swiper-wrapper 
            img.swiper-slide(src="img/park_img1_mob.jpg", alt="паpк")
            img.swiper-slide(src="img/park_img2_mob.jpg", alt="паpк")
            img.swiper-slide(src="img/park_img3_mob.jpg", alt="паpк")
      section.section-2
        .title
          h2 как он устpoeн
        .text
          b в парке пять зон для разных занятий
        .tab
          .tab-heading
            span.tab-heading-title.active социальная жизнь
            span.tab-heading-title цветники
            span.tab-heading-title кутеpьма
            span.tab-heading-title спорт
            span.tab-heading-title задумчивость
          .tab-content
            .tab-content-item
              .text в центре парка собираются все жители района. родители с детьми, хозяева с собаками и интеллектуалы с книгами проводят время на площадках и скамейках, знакомятся и общаются.
              .img-block
                .item
                  img(src="img/arrange_img1.jpg", alt="arrange_img1")
                .item
                  img(src="img/arrange_img2.jpg", alt="arrange_img2")
              .img-block-mb
                img(src="img/arrange_img1_mob.jpg", alt="arrange_img1")
            .tab-content-item 
              .text микс из растений, напоминающий клумбы в «музеоне»: злаки, многолетние цветы и поля с ромашками вместо простых газонов.
              .img
                img(src="img/arrange_img3.jpg", alt="arrange_img3")
              .img-mb
                img(src="img/arrange_img3.jpg", alt="arrange_img3")
            .tab-content-item 
              .text все для детей: площадка-паровоз, поляны для догонялок, столы для пинг-понга и березовая роща.
              .img 
                img(src="img/arrange_img4.jpg", alt="arrange_img4")
              .img-mb
                img(src="img/arrange_img4.jpg", alt="arrange_img4")
            .tab-content-item
              .text площадки для функциональных тренировок, дорожки для бега и оборудование для настольного тенниса.
              .img
                img(src="img/arrange_img5.jpg", alt="arrange_img5")
              .img-mb
                img(src="img/arrange_img5.jpg", alt="arrange_img5")
            .tab-content-item 
              .text качели, скамейки, раскидистые кроны деревьев и тропинки для неспешных прогулок.
              .img
                img(src="img/arrange_img6.jpg", alt="arrange_img6")
              .img-mb
                img(src="img/arrange_img6.jpg", alt="arrange_img6")
      section.section-3
        .title
          h2 маpшpуты
        .text если в парках протаптывают дорожки по газону, значит архитектор распланировал их неудобно.
          | мы продумывали все тщательно: кто-то гуляет с ребенком, кто-то спешит на встречу, а кто-то занимается
          | спортом — и для каждого есть индивидуальный маршрут. схема тропинок в парке напоминает прожилки листка,
          | так что дорожек для прогулок много, и они извилистые. а для тех, кто торопится к метро, предусмотрены
          | прямые и быстрые пути.
        .img-block
          img(src="img/arrange_img7.jpg", alt="arrang_img7.jpg")
        .img-block-mb
          img(src="img/routes_img1_mob.jpg", alt="arrang_img7.jpg")
        .text
          | а для тех, кто торопится к метро, предусмотрены прямые и быстрые пути. кстати, ты бы хотел жить
          | поближе к станции, или чуть поодаль, чтобы успеть прогуляться с утра? 
          a(href="/") посмотри квартиры
          br
          | , и выбери свой вариант.
      section.section-4
        .title
          h2 площадь, амфитеатр и фонтан
        .text инициатива приветствуется. захочешь организовать собрание жильцов, концерт подростков-рэперов,
          | детский праздник или garage sale — к твоим услугам городская площадь или амфитеатр. в дни без
          | мероприятий там просто приятно проводить время. надеемся, все там перезнакомятся.
        .img-block
          img(src="img/arrange_img8.jpg", alt="arrange_img8")
        .text еще на площади есть фонтан — такой же, как в музеоне. официально он называется «сухой», но если ты
          br
          | хоть раз проходил между струй в парке у цдх — знаешь, что ничего сухого в нем на самом деле нет. а еще
          br
          | помнишь: мало что может сравниться с радостью пробежаться и основательно намокнуть в жаркий
          br
          | летний день. если беготня все-таки не для тебя — приходи вечером: фонтан будет подсвечиваться
          br
          | разноцветными огнями и им можно просто спокойно любоваться.
        .img-block.none
          .item
            img(src="img/arrange_img9.jpg", alt="arrange_img9")
          .item
            img(src="img/arrange_img10.jpg", alt="arrange_img10")
          .item
            img(src="img/arrange_img11.jpg", alt="arrange_img11")
            p ночная подсветка фонтана
        .swiper-container.tablet
          .swiper-pagination
          .swiper-wrapper 
            img.swiper-slide(src="img/square_img2_mob.jpg", alt="паpк")
            img.swiper-slide(src="img/square_img3_mob.jpg", alt="паpк")
            img.swiper-slide(src="img/square_img4_mob.jpg", alt="паpк")
      section.section-5
        .title
          h2 зелень и цветники
        .text кленовые аллеи, березы, ели, сосны и даже яблони, а вокруг луговые цветники…
          br
          | запасайся толстым альбомом для гербария.
        .img-block
          img(src="img/green_img1.jpg", alt="green_img1")
          .info.green1_1 49 кленов
          .info.green1_2 52 рябины
          .info.green1_3 91 яблоня
          .info.green1_4 26 черемух
          .info.green1_5 25 боярышников
        .img-block-mb
          img(src="img/green_img1_mob.jpg", alt="green_img1")
        .swiper-container.tablet
          .swiper-pagination
          .swiper-wrapper
              .swiper-slide.slide-green
                img.green-mb1(src="img/green_img1_1_mob.png", alt="паpк")
                span 49 кленов
              .swiper-slide.slide-green
                img.green-mb1(src="img/green_img1_2_mob.png", alt="паpк")
                span 52 рябины
              .swiper-slide.slide-green
                img.green-mb1(src="img/green_img1_3_mob.png", alt="паpк")
                span 91 яблоня
              .swiper-slide.slide-green
                img.green-mb1(src="img/green_img1_4_mob.png", alt="паpк")
                span 26 черемух
              .swiper-slide.slide-green
                img.green-mb1(src="img/green_img1_5_mob.png", alt="паpк")
                span 25 боярышников
        .text у нас не будет клумб советского образца, как будто прочерченных по линейке. вместо них — плавно
          br
          | переходящие в луга цветники, которые как будто выросли сами собой. естественность в парковом
          br
          | деле — залог красоты.
        .img-block
          img(src="img/green_img2.jpg", alt="green_img2")
          .green
            each item in green
              .green-item
                img(src=item.img, alt=item.text)
                p=item.text
        .img-block-mb
          img(src="img/green_img2_mob.jpg", alt="green_img1")
        .swiper-container.tablet
          .swiper-pagination
          .swiper-wrapper
            .swiper-slide.slide-green.two
              .green-item
                img.green-mb2(src="img/green-1.jpg", alt="green-1")
                p лилейники
              .green-item
                img.green-mb2(src="img/green-2.jpg", alt="green-2")
                p шалфеи
            .swiper-slide.slide-green.two
              .green-item
                img.green-mb2(src="img/green-3.jpg", alt="green-3")
                p кровохлебки
              .green-item
                img.green-mb2(src="img/green-4.jpg", alt="green-4")
                p крокусы     
            .swiper-slide.slide-green.two
              .green-item
                img.green-mb2(src="img/green-5.jpg", alt="green-5")
                p луки декоративные
              .green-item
                img.green-mb2(src="img/green-6.jpg", alt="green-6")
                p вербены         
      section.section-6
        .title
          h2 pельсы
        .text pаньше они связывали воедино промышленный район, а теперь стали символом новой городской среды. pаз уж у нас есть 
          br
          | железная дорога, то возникла идея малых архитектурных форм, которые могут по ней передвигаться, и на рельсах появились 
          | мобильные шезлонги: можно соединять их для большой компании 
          br
          | или раздвигать, если хочется уединиться.
        .img-block
          .item
            img(src="img/rails_img1.jpg", alt="rails_img1")
          .item
            img(src="img/rails_img2.jpg", alt="rails_img2")
          .item
            img(src="img/rails_img3.jpg", alt="rails_img3")
        .swiper-container.tablet
          .swiper-pagination
          .swiper-wrapper
            img.swiper-slide(src="img/rails_img1_mob.jpg", alt="rails_img1")
            img.swiper-slide(src="img/rails_img2_mob.jpg", alt="rails_img1")
            img.swiper-slide(src="img/rails_img3_mob.jpg", alt="rails_img1")
      section.section-7
        .title
          h2 детские площадки
        .text для малышей во дворах мы установим интерактивные и звуковые панели и площадки для подвижных игр. для школьников — 
          | батуты, карусели и скалодромы. а зоны для подростков будут в парке: поляны для встреч компаниями и футбольное поле.
        .img-block
          .item
            img(src="img/playground_img1.jpg", alt="playground_img1")
          .item
            img(src="img/playground_img2.jpg", alt="playground_img2")
            img(src="img/playground_img3.jpg", alt="playground_img3")
        .swiper-container.tablet
          .swiper-pagination
          .swiper-wrapper
            img.swiper-slide(src="img/playground_img1_mob.jpg", alt="rails_img1")
            img.swiper-slide(src="img/playground_img2_mob.jpg", alt="rails_img1")
            img.swiper-slide(src="img/playground_img3_mob.jpg", alt="rails_img1")
        .text со смотровой площадки на холме можно охватить взглядом парк. у подножия — скамейки для отдыха в тени деревьев. стоит выпасть снегу, аккуратные склоны превращаются в горку для катания на санках.
        .tab
          .tab-heading
            span.tab-heading-title.active летом
            span.tab-heading-title зимой
          .tab-content
            .tab-content-item
              img(src="img/playground_img4.jpg", alt="playground_img4")
            .tab-content-item
              img(src="img/playground_img5.jpg", alt="playground_img5")
      section.section-8
        .title
          h2 двоpы
        .text тут тоже есть разные зоны: для детей, тихого отдыха и для тренировок, но все разнесено так, что всем
          | комфортно и никто никому не мешает. функциональные зоны отделены от подъездов деревьями, и когда
          | ты внутри, оказываешься окружен зеленью со всех сторон.
        .tab
          .tab-heading
            span.tab-heading-title.active общая концепция
            span.tab-heading-title концепция двора 2-го корпуса
          .tab-content
            .tab-content-item
              img(src="img/yards_img1.jpg", alt="yards_img1")
            .tab-content-item
              img(src="img/yards_img2.jpg", alt="yards_img2")
      section.section-9
        .title
          h2 спорт
        .text тренировки на свежем воздухе — это кайф. в парке несколько опций для занятий: можно прикрепить trx
          | на турник, встать в асаны на поляне, разгромить соперника в настольный теннис или поиграть в
          | командную игру «кто быстрее заснет» на шезлонгах.
        .img-block
          .item
            img(src="img/sport_img1.jpg", alt="sport_img1")
          .item
            img(src="img/sport_img2.jpg", alt="sport_img2")
          .item
            img(src="img/sport_img3.jpg", alt="sport_img3")
        .swiper-container.tablet
          .swiper-pagination
          .swiper-wrapper
            img.swiper-slide(src="img/sport_img1_mob.jpg", alt="rails_img1")
            img.swiper-slide(src="img/sport_img2_mob.jpg", alt="rails_img1")
            img.swiper-slide(src="img/sport_img3_mob.jpg", alt="rails_img1")
      section.section-10
        .title
          h2 дог-френдли
        .text мы любим псов и хотим, чтобы им и их хозяевам было комфортно. для этого созданы поляны для беготни
          | за палками, луга для игр с друзьями и станции с пакетами для уборки.
        .img-block
          .item
            img(src="img/dog_friendly_img1.jpg", alt="dog_friendly_img1")
          .item
            img(src="img/dog_friendly_img2.jpg", alt="dog_friendly_img2")
            img(src="img/dog_friendly_img3.jpg", alt="dog_friendly_img3")
        .swiper-container.tablet
          .swiper-pagination
          .swiper-wrapper
            img.swiper-slide(src="img/dog_friendly_img1_mob.jpg", alt="rails_img1")
            img.swiper-slide(src="img/dog_friendly_img2_mob.jpg", alt="rails_img1")
            img.swiper-slide(src="img/dog_friendly_img3_mob.jpg", alt="rails_img1")
            img.swiper-slide(src="img/dog_friendly_img4_mob.jpg", alt="rails_img1")
      section.section-11
        .title
          h2 тихий отдых
        .text скамейки, клумбы с высокими бортиками для сидения, мягкое покрытие под деревьями,
          | кустарники и деревья с пышными кронами — место для интровертов всегда найдется.
        .img-block
          .item
            img(src="img/quiet_rest_img1.jpg", alt="quiet_rest_img1")
          .item
            img(src="img/quiet_rest_img2.jpg", alt="quiet_rest_img2")
          .item
            img(src="img/quiet_rest_img3.jpg", alt="quiet_rest_img3")
        .swiper-container.tablet
          .swiper-pagination
          .swiper-wrapper
            img.swiper-slide(src="img/quiet_rest_img1_mob.jpg", alt="rails_img1")
            img.swiper-slide(src="img/quiet_rest_img2_mob.jpg", alt="rails_img1")
            img.swiper-slide(src="img/quiet_rest_img3_mob.jpg", alt="rails_img1")
      section.settle
        .title
          h2 поселись рядом с этим парком
        a(href="/") интернет-магазин квартир
      section.section-12
        .title
          h2 узнай больше
        .swiper-container.mi-slider
          .swiper-pagination
          .swiper-wrapper
            a.swiper-slide.i1(href="/")
              .i-inf
                .i-title архитектура
                .i-desc 
                  | алюминий и кирпич,
                  br
                  | фасады и строительство —
                  br
                  | раздел для въедливых.
                .i-detailed
                  span подробнее
            a.swiper-slide.i2(href="/")
              .i-inf
                .i-title сервисы
                .i-desc двери открыва-
                  br
                  | ются телефоном,
                  br
                  | а управляющая
                  br
                  | компания отвечает
                  br
                  | в приложении.
                .i-detailed
                  span подробнее
            a.swiper-slide.i3(href="/")
              .i-inf
                .i-title инфраструктура
                .i-desc
                  | список магазинов,
                  br
                  | кафе и других сервисов
                  br
                  | в кварталах и вокруг.
                .i-detailed
                  span подробнее
            a.swiper-slide.i4(href="/")
              .i-inf
                .i-title история создания
                .i-desc 
                  | как и почему баланс
                  br
                  | получился именно таким
                .i-detailed
                  span подробнее
            a.swiper-slide.i5(href="/")
              .i-inf
                .i-title кваpтиpы
                .i-desc 
                  | отделка, окна,
                  br
                  | балконы, планировки
                  br
                  | и другие детали
                .i-detailed
                  span подробнее
            a.swiper-slide.i6(href="/")
              .i-inf
                .i-title дворы и парк
                .i-desc 
                  | 5 гектаров зелени
                  br
                  | и тропинки, проложенные
                  br
                  | согласно хитрому плану.
                .i-detailed
                  span подробнее
          .swiper-button-next