extends layouts/layout

block variables
  -var pageTitle ='Главная'

block content
  main
    .top-block
      .inner
        h1 парк и дворы
    .inner
      section.section-1
        .title
          h2 паpк
        .text 
          | в центре кварталов парк площадью 5 гектаров. а в парке — продуманное освещение, комфортная уличная мебель,
          br 
          | дорожки для велосипедистов и бегунов, поляны для игр, кафе, извилистые тропинки и, конечно, фонтан.
          br 
          | раньше здесь проходила железная дорога. мы сохранили рельсы и посадили между ними цветы и деревья.
        .img-block
          .item
            img(src="img/park_img1.jpg", alt="паpк")
          .item
            img(src="img/park_img2.jpg", alt="паpк")
            img(src="img/park_img3.jpg", alt="паpк")
      section.section-2
        .title
          h2 как он устpoeн
        .text
          b в парке пять зон для разных занятий
        .tabs-img
          .tabs
            span.tab социальная жизнь
            span.tab цветники
            span.tab кутеpьма
            span.tab спорт
            span.tab задумчивость
          .tab_content
            .tab_item 
              .text в центре парка собираются все жители района. родители с детьми, хозяева с собаками и интеллектуалы с книгами проводят время на площадках и скамейках, знакомятся и общаются.
              .img-block
                .item
                  img(src="img/arrange_img1.jpg", alt="arrange_img1")
                .item
                  img(src="img/arrange_img2.jpg", alt="arrange_img2")
            .tab_item 
              .text микс из растений, напоминающий клумбы в «музеоне»: злаки, многолетние цветы и поля с ромашками вместо простых газонов.
              .img
                img(src="img/arrange_img3.jpg", alt="arrange_img3")
            .tab_item 
              .text все для детей: площадка-паровоз, поляны для догонялок, столы для пинг-понга и березовая роща.
              .img 
                img(src="img/arrange_img4.jpg", alt="arrange_img4")
            .tab_item
              .text площадки для функциональных тренировок, дорожки для бега и оборудование для настольного тенниса.
              .img
                img(src="img/arrange_img5.jpg", alt="arrange_img5")
            .tab_item 
              .text качели, скамейки, раскидистые кроны деревьев и тропинки для неспешных прогулок.
              .img
                img(src="img/arrange_img6.jpg", alt="arrange_img6")
      section.section-3