$font: 'TRYClother', sans-serif;

$black: #151515;
$white: #fff;
$grey: #777676;

$mediaWidthLaptop: 1366px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthCustomMobile: 450px;
$mediaWidthMobile: 320px;
