@import "../mixins/media";

.footer {
  padding-bottom: 50px;
  background: #fff;
  border-top: 1px solid #d3d3d3;
  @include media-tablet {
    border-top: none;
  }
  .subscribe {
    border-bottom: 1px solid #d3d3d3;
    .inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 70px 0;
      @include media-tablet {
        flex-wrap: wrap;
      }
      .close {
        position: absolute;
        top: 20px;
        right: 0;
        cursor: pointer;
        span {
          display: block;
          width: 15px;
          height: 1px;
          background: #a5afba;
          &:first-child {
            transform: rotate(45deg);
            transform-origin: left center;
          }
          &:last-child {
            transform: rotate(-45deg);
            margin-top: 10px;
            transform-origin: left center;
          }
        }
      }
      .item {
        width: 50%;
        @include media-tablet {
          width: 100%;
        }
        .i-title {
          font: 700 28px/28px $font;
          color: $black;
        }
        .i-desc {
          font: 400 18px/26px $font;
          color: $black;
          margin-top: 20px;
        }
        &:last-child {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .subitem {
            position: relative;
            width: calc((100% - 30px) / 2);
            margin-top: 30px;
            input {
              width: 100%;
              height: 38px;
              font: 18px/22px $font;
              border: none;
              border-bottom: 1px solid #a5a5a5;
              background: transparent;
              &:focus ~ label {
                top: -7px;
                font-size: 18px;
              }
            }
            label {
              position: absolute;
              left: 0;
              top: 50%;
              display: block;
              font: 16px/25px $font;
              color: #808080;
              margin-bottom: 0;
              transform: translateY(-50%);
              pointer-events: none;
              transition: 0.3s;
            }
          }
          .subitem.subscribe_btn {
            input {
              height: 52px;
              font: 18px/46px $font;
              color: #fff;
              padding-bottom: 2px;
              text-align: center;
              border: 1px solid #000;
              border-radius: 5px;
              background: #000;
              transition: 0.3s;
              cursor: pointer;
              &:hover {
                color: #151515;
                background: #fff;
              }
            }
          }
          .subitem.agreement {
            font: 400 13px/16px $font;
            color: #858585;
            a {
              display: inline-block;
              height: auto;
              color: #007bff;
              transition: 0.3s;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  .inner {
    .block {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 55px;
      .logo {
        width: 18%;
        margin-top: -15px;
        margin-bottom: 40px;
        a {
          display: block;
          height: auto;
          svg {
            width: 112px;
            height: 31px;
          }
        }
        span {
          display: block;
          font: 16px/20px $font;
          color: $black;
          margin-top: 10px;
        }
      }
      .main-menu {
        width: 82%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
        @include media-tablet-horizontal {
          width: 77%;
        }
        .menu-block {
          width: 65%;
          @include media-tablet-horizontal {
            width: 73%;
          }
          &-title {
            font: 700 22px/1 $font;
            color: $black;
            margin-bottom: 15px;
          }
          &-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &-link {
              width: 215px;
              height: auto;
              font: 16px/32px $font;
              color: $black;
              transition: 0.3s;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          &:last-child {
            width: 35%;
            @include media-tablet-horizontal {
              width: 27%;
            }
            .menu-block-list {
              .menu-block-list-link {
                width: 38%;
                @include media-tablet-horizontal {
                  width: 51%;
                }
              }
            }
          }
        }
      }
      .contacts {
        .phone {
          a {
            font: 16px/23px $font;
            color: $black;
            transition: 0.3s;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .address {
          a {
            position: relative;
            font: 700 16px/23px $font;
            color: $black;
            padding-right: 20px;
            transition: 0.3s;
            &:hover {
              text-decoration: underline;
            }
            &::after {
              content: "";
              position: absolute;
              width: 13px;
              height: 12px;
              top: 31%;
              right: 0;
              background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.141' height='12.141'%3E%3Cg clip-rule='evenodd' fill-rule='evenodd'%3E%3Cpath d='M0 1.517h6.053v1.509H1.542v7.576h7.56V6.086h1.5v6.055H0V1.517z'/%3E%3Cpath d='M12.141 0v3.786l-1.337-1.373c-1.326 1.359-2.615 2.68-3.89 3.984L5.774 5.25l3.948-3.854C9.241.896 8.808.448 8.375 0h3.766z'/%3E%3C/g%3E%3C/svg%3E")
                no-repeat;
              background-size: contain;
            }
          }
        }
        .mail {
          a {
            font: 16px/23px $font;
            color: #0971ff;
            transition: 0.3s;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          margin-left: 20px;
          transition: 0.3s;
          &:hover {
            opacity: 0.7;
          }
          &:first-child {
            margin-left: 0;
          }
        }
        .vk {
          width: 25px;
          height: 14px;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.598' height='14.035'%3E%3Cpath d='M24.468 12.677a1.51 1.51 0 00-.084-.16c-.426-.769-1.243-1.713-2.446-2.83l-.025-.026-.013-.013-.013-.013h-.013c-.546-.521-.893-.871-1.038-1.051-.265-.342-.324-.688-.178-1.038.102-.265.485-.823 1.151-1.679.35-.452.628-.814.833-1.087 1.478-1.965 2.117-3.221 1.921-3.767l-.077-.128c-.051-.076-.182-.146-.396-.211-.214-.063-.487-.075-.821-.031l-3.688.026a.464.464 0 00-.256.005l-.167.039-.064.032-.051.038a.572.572 0 00-.141.135.829.829 0 00-.127.225 20.908 20.908 0 01-1.371 2.882c-.316.529-.606.987-.871 1.376-.264.39-.486.676-.666.858a4.81 4.81 0 01-.487.442c-.146.111-.255.158-.332.14a5.972 5.972 0 01-.218-.051.832.832 0 01-.289-.313 1.42 1.42 0 01-.146-.499 5.647 5.647 0 01-.045-.519c-.004-.146-.002-.351.006-.615.009-.265.014-.444.014-.538 0-.326.006-.678.018-1.057l.033-.903c.008-.223.012-.457.012-.705 0-.247-.015-.441-.045-.582a1.888 1.888 0 00-.133-.41.698.698 0 00-.263-.308 1.53 1.53 0 00-.429-.174c-.454-.102-1.031-.157-1.73-.165-1.588-.018-2.609.085-3.061.307a1.735 1.735 0 00-.487.385c-.154.188-.175.289-.064.307.512.076.875.26 1.089.55l.077.154c.06.111.12.309.18.59.06.28.098.592.115.934a9.894 9.894 0 010 1.602c-.043.445-.083.789-.122 1.036a2.123 2.123 0 01-.327.886.234.234 0 01-.063.064.975.975 0 01-.346.062c-.12 0-.265-.06-.435-.178a3.075 3.075 0 01-.531-.494 6.493 6.493 0 01-.622-.876c-.23-.377-.47-.82-.717-1.334l-.205-.371a31.597 31.597 0 01-.525-1.043A20.156 20.156 0 015.2 1.256a.85.85 0 00-.307-.409L4.829.809A.793.793 0 004.624.7 1.361 1.361 0 004.33.617L.82.642C.462.642.218.723.09.885L.039.962A.41.41 0 000 1.167c0 .093.025.21.077.345a42.725 42.725 0 001.671 3.484c.603 1.118 1.126 2.021 1.569 2.702.444.685.896 1.328 1.357 1.935.461.607.767.995.916 1.167.15.17.268.298.352.383l.321.309c.205.205.506.449.903.736a15.8 15.8 0 001.319.845 7.174 7.174 0 001.685.68 5.88 5.88 0 001.87.211h1.474c.298-.026.524-.119.679-.282l.051-.064a.858.858 0 00.096-.236c.031-.106.045-.225.045-.353-.008-.367.02-.696.083-.993.063-.294.137-.516.218-.664a1.73 1.73 0 01.276-.38c.102-.102.175-.163.218-.185a.517.517 0 01.102-.044c.205-.068.446-.003.725.198.277.2.537.448.781.742.244.295.535.625.878.992.341.368.64.642.896.82l.257.154c.171.102.393.196.665.282.273.085.513.105.719.062l3.277-.051c.325 0 .578-.054.756-.158.18-.107.286-.227.32-.354a.99.99 0 00.008-.436 2.072 2.072 0 00-.096-.337z'/%3E%3C/svg%3E")
            no-repeat;
        }
        .fb {
          width: 12px;
          height: 24px;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.281' height='24.175'%3E%3Cpath d='M2.438 4.683v3.329H0v4.068h2.438v12.095h5.009V12.08h3.361s.315-1.952.468-4.083h-3.81V5.214c0-.417.546-.977 1.086-.977h2.729V0H7.57C2.314.001 2.438 4.075 2.438 4.683z'/%3E%3C/svg%3E")
            no-repeat;
        }
        .ig {
          width: 21px;
          height: 21px;
          background: url("data:image/svg+xml,%3Csvg width='21' height='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-rule='nonzero'%3E%3Cpath d='M14.143 0H6.427A6.429 6.429 0 000 6.428v7.714a6.43 6.43 0 006.427 6.428h7.716a6.43 6.43 0 006.427-6.428V6.428A6.43 6.43 0 0014.143 0zm4.498 14.142c0 2.48-2.018 4.5-4.498 4.5H6.427a4.505 4.505 0 01-4.498-4.5V6.428a4.504 4.504 0 014.498-4.499h7.716a4.504 4.504 0 014.498 4.499v7.714z'/%3E%3Cpath d='M10.287 5.143a5.14 5.14 0 100 10.283 5.142 5.142 0 000-10.283zm0 8.355a3.219 3.219 0 01-3.216-3.213 3.218 3.218 0 013.216-3.213c1.77 0 3.213 1.44 3.213 3.213a3.219 3.219 0 01-3.213 3.213z'/%3E%3Ccircle cx='1.529' cy='1.472' r='1' transform='translate(14.285 3.285)'/%3E%3C/g%3E%3C/svg%3E")
            no-repeat;
        }
        .tg {
          width: 21px;
          height: 17px;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 19'%3E%3Cpath d='M1.4 8.3l13.7-5.6C16.5 2 21 .2 21 .2s2.1-.8 1.9 1.2c-.1.8-.5 3.7-1 6.8l-1.5 9.2c0 .7-.5 1.3-1.1 1.6-1 .2-2.6-.8-2.9-1.1-.2-.2-4.4-2.8-5.9-4.1-.5-.3-.6-1-.3-1.5.1-.1.2-.3.4-.3 2.1-1.9 4.6-4.3 6.2-5.9.7-.7 1.4-2.4-1.5-.4L7 11.3c-.9.4-1.8.4-2.7.1-1.8-.5-3.8-1.2-3.8-1.2s-1.5-1 .9-1.9z' fill-rule='evenodd' clip-rule='evenodd'/%3E%3C/svg%3E")
            no-repeat;
        }
      }
      .policy {
        .sponsor {
          font: 700 16px/22px $font;
          color: $black;
        }
        .links {
          margin-top: 5px;
          a {
            font: 14px/22px $font;
            color: $grey;
            text-decoration: underline;
          }
        }
      }
      .dev-logo {
        a {
          height: auto;
          opacity: 0.5;
          svg {
            width: 121px;
            height: 24px;
          }
        }
        span {
          display: block;
          font: 400 14px/18px $font;
          color: #666;
          margin-top: 20px;
        }
      }
    }
  }
}
