@import '../mixins/media';

.header {
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 100;
  background: $black;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
  .inner {
    position: relative;
    height: 100%;
  }
  .mb {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 38px;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
    span {
      display: block;
      height: 2px;
      background: $white;
      transition: transform 0.3s;
      &:first-child {
        margin-bottom: 6px;
      }
    }
  }
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    a {
      svg {
        width: 137px;
        height: 27px;
      }
      .icon-header_logo_white {
        display: block;
      }
      .icon-header_logo_black {
        display: none;
      }
    }
  }
  .store {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    a {
      display: flex;
      font: 400 18px/22px $font;
      color: $white;
      @include media-tablet {
        span {
          display: none;
        }
      }
      svg {
        width: 21px;
        height: 25px;
        margin-left: 15px;
      }
      .icon-header_cart_white {
        display: block;
      }
      .icon-header_cart_blue {
        display: none;
      }
    }
  }
}
.header.active {
  background: $white;
  border-bottom: 1px solid #d3d3d3;
  transition: 0.3s;
  .mb {
    span {
      width: 22px;
      background: $black;
      transform: rotate(-45deg);
      &:first-child {
        margin-bottom: -2px;
        transform: rotate(45deg);
      }
    }
  }
  .logo {
    a {
      .icon-header_logo_white {
        display: none;
      }
      .icon-header_logo_black {
        display: block;
      }
    }
  }
  .store {
    a {
      color: #0971ff;
      svg {
        width: 21px;
        height: 25px;
        margin-left: 15px;
      }
      .icon-header_cart_white {
        display: none;
      }
      .icon-header_cart_blue {
        display: block;
      }
    }
  }
}
.header.hide {
  transform: translateY(-100%);
}
.menu {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: $white;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
    overflow-y: auto;
    overflow-x: hidden;
    overflow: visible;
    @include media-tablet {
      padding: 20px 0;
    }
    .main-menu {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .menu-block {
        width: 60%;
        @include media-tablet {
          width: 100%;
        }
        &-title {
          font: 700 30px/1 $font;
          color: $black;
          @include media-custom {
            font: 700 26px/1 $font;
          }
        }
        &-list {
          margin-top: 35px;
          @include media-tablet {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
          }
          @include media-custom {
            margin-top: 20px;
          }
          a {
            display: inline-block;
            width: 250px;
            font: 400 20px/48px $font;
            color: $black;
            transition: 0.3s;
            @include media-tablet {
              width: 180px;
            }
            @include media-custom {
              width: 140px;
              font: 16px/30px $font;
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &:last-child {
          width: 40%;
          @include media-tablet {
            width: 100%;
            margin-top: 40px;
          }
        }
      }
    }
    .menu-slider {
      position: relative;
      display: flex;
      width: 100vw;
      height: auto;
      align-items: flex-start;
      margin-top: 115px;
      margin-bottom: 10px;
      padding-bottom: 40px;
      .swiper-pagination {
        display: none;
        @include media-laptop {
          display: block;
        }
        .swiper-pagination-bullet {
          cursor: pointer;
        }
        .swiper-pagination-bullet-active {
          background: $black;
        }
      }
      .swiper-slide {
        display: inline-block;
        width: 170px;
        margin-right: 30px;
        transition: 0.3s;
        @include media-tablet {
          width: 110px;
          margin-right: 20px;
        }
        span {
          display: block;
          font: 400 18px/1.3 $font;
          color: $black;
          margin-top: 10px;
          text-align: center;
          @include media-tablet {
            font-size: 15px;
          }
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      .swiper-slide.swiper-slide-prev {
        opacity: 0;
        transition: opacity 0.3s;
      }
      .swiper-slide.swiper-slide-active, .swiper-slide.swiper-slide-next {
        opacity: 1;
      }
    }
    .swiper-container {
      width: 100%;
      height: auto;
      .swiper-pagination {
        display: none;
        @include media-laptop {
          display: block;
        }
        .swiper-pagination-bullet {
          cursor: pointer;
        }
        .swiper-pagination-bullet-active {
          background: $black;
        }
      }
    }
    .footer-menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 45px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        display: none;
        width: 200%;
        height: 1px;
        transform: translateX(-50%);
        background: #d3d3d3;
      }
      @include media-tablet-horizontal {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
        margin-bottom: 40px;
        &::before {
          display: block;
        }
      }
      .contacts {
        .address {
          a {
            position: relative;
            font: 700 16px/23px $font;
            color: $black;
            padding-right: 20px;
            transition: 0.3s;
            &:hover {
              text-decoration: underline;
            }
            &::before {
              content: '';
              position: absolute;
              width: 13px;
              height: 12px;
              top: 31%;
              right: 0;
              background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.141' height='12.141'%3E%3Cg clip-rule='evenodd' fill-rule='evenodd'%3E%3Cpath d='M0 1.517h6.053v1.509H1.542v7.576h7.56V6.086h1.5v6.055H0V1.517z'/%3E%3Cpath d='M12.141 0v3.786l-1.337-1.373c-1.326 1.359-2.615 2.68-3.89 3.984L5.774 5.25l3.948-3.854C9.241.896 8.808.448 8.375 0h3.766z'/%3E%3C/g%3E%3C/svg%3E")
                no-repeat;
              background-size: contain;
            }
          }
        }
        .mail {
          @include media-tablet-horizontal {
            text-align: center;
          }
          a {
            font: 400 16px/23px $font;
            color: #0971ff;
            transition: 0.3s;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .dev_logo {
        @include media-tablet-horizontal {
          width: 100%;
          text-align: center;
          margin-top: 10px;
        }
        a {
          display: inline-block;
          height: auto;
          opacity: 0.5;
          svg {
            width: 121px;
            height: 24px;
          }
        }
        p {
          font: 15px/19px $font;
          color: $grey;
          margin-top: 10px;
          @include media-tablet-horizontal {
            display: none;
          }
        }
      }
    }
  }
}
.menu.active {
  opacity: 1;
  visibility: visible;
}
